    <!-- Footer top section -->
    <section class="footer-top-section text-white spadf">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-widget about-widget">
                        <img src="./img/logo.png" alt="logo">
                        <p>CinemaWorld takes a great leap forward to bring an even better digital experience for its patrons of MovieRocket.com. Avoid the hassles of lining up everytime you watch a movie! Reserve your tickets anytime, anywhere!</p>
                        <br>
                        <div class="fw-social social">
                            <a href="/"><i class="fa fa-rocket"></i></a>
                            <a href="https://www.facebook.com/pages/Advanced-World-Solutions-Inc/176417256623828"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/awsys_inc"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/company/advanced-world-solutions-inc-"><i class="fa fa-linkedin"></i></a>
                            <a href="https://www.awsys-i.com/en/home.php"><i class="fa fa-globe"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Footer top section end -->


    <!--====== Javascripts & Jquery ======-->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/circle-progress.min.js"></script>
    <script src="js/main.js"></script>

    </body>
</html>